<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nmap Dashboard</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  
</head>

<body>
  <h1>Nmap Dashboard</h1>
  <div>
    <h2>Status</h2>
    <p>State: {{data.status.state}}</p>
    <p>Reason: {{data.status.reason}}</p>

    <h2>Addresses</h2>
    <p>{{data.addresses.ipv4}}</p>

    <h2>*TCP</h2>
    <p>{{data.tcp}}</p>

    <h2>Date Time</h2>
    <p>{{data.datetime}}</p>

    <h2>Hostnames:</h2>
    <p>{{data.hostnames[0].type}}</p>
    <p>{{data.hostnames[0].name}}</p>
  </div>
</body>

</html>